:root {
  --primary-color: #f7f7f7;
  --secondary-color: #0a0a0a;
  --accent-color: #23a5a0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* App Header */
.app-header {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.app-header__nav-bar {
  max-width: 1140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 1.7rem 1rem;
}
.nav-bar__brand {
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
}
.nav-bar__list {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
}
.nav-bar__list-item {
  font-weight: 600;
  text-transform: uppercase;
}
.nav-bar__list-item > a {
  text-decoration: none;
  color: var(--secondary-color);
  position: relative;
}
.nav-bar__list-item > a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: var(--accent-color);
  margin-bottom: -4px;
  bottom: 0;
  left: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.nav-bar__list-item > a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}
#themeToggle {
  display: none;
}
.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.3s;
}
.slider::before {
  background-color: var(--primary-color);
  bottom: 4px;
  content: '';
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.3s;
  width: 26px;
}
#themeToggle:checked + .slider {
  background-color: var(--accent-color);
}
#themeToggle:checked + .slider::before {
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

/* App Main */
/* Hero Section */
.hero-container {
  max-width: 1040px;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 6rem;
  margin-bottom: 6rem;
  margin-left: auto;
  margin-right: auto;
  padding: 3.5rem 1rem;
}
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 1.17rem;
}
.hero-text__heading {
  font-size: 3.5em;
  font-weight: 700;
}
.hero-text__intro {
  letter-spacing: 1px;
}
.hero-text__anchor {
  border-radius: 32px;
}
.hero-text__button {
  cursor: pointer;
  width: 220px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--primary-color);
  font-size: 1.17em;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  border-radius: 32px;
  transition: 0.3s;
}
.hero-text__button:hover {
  background-color: hsl(178, 65%, 30%);
}
.hero-image > img {
  width: 320px;
  border-radius: 100%;
  transition: 600ms ease-in-out;
}
.hero-image > img:hover {
  border-radius: 10%;
}

/* About Section */
#about {
  background-color: var(--accent-color);
}
.about-container {
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 3.5rem 1rem 1rem 1rem;
}
.about__heading {
  font-size: 2em;
  font-weight: 700;
  color: var(--primary-color);
}
.about-content {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: start;
  color: var(--primary-color);
  font-weight: 500;
}
.about-content__line {
  width: 150px;
  border: solid 2px var(--secondary-color);
  border-radius: 16px;
  position: relative;
  top: 9px;
}
.tech-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-bottom: 5rem;
}
.tech-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.tech-header__heading {
  font-size: 1.7em;
  font-weight: 700;
  color: var(--primary-color);
}
.tech-header__line {
  border: solid 2px var(--secondary-color);
  border-radius: 16px;
}
.tech-grid__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem 1rem;
}
.tech-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  background-color: var(--primary-color);
}
.tech-card > p {
  font-weight: 500;
}

/* Projects Section */
.projects-container {
  max-width: 1140px;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  padding: 1.17rem 1rem;
}
